.shop-header {
    border-bottom: 1px solid #5252e0;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-between;
}

.shop-header .logo {
    font-family: "Playfair Dsplay", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem
}

.shop-header .shopping-cart{
    padding-right: 1.3rem;
    align-self: 1.3rem;
}

hop-header .shopping-cart .cart-icon{
    font-size: 2.2rem;
    color: cadetblue;
    margin-right: 10px;
}